USE [master]
GO
/****** Object:  Database [seminario2_201807079]    Script Date: 29/9/2023 5:36:28 p. m. ******/
CREATE DATABASE [seminario2_201807079]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'seminario2_201807079', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\seminario2_201807079.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'seminario2_201807079_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\seminario2_201807079_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [seminario2_201807079].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [seminario2_201807079]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 29/9/2023 5:36:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [varchar](150) NOT NULL,
	[NombreCliente] [varchar](150) NOT NULL,
	[TipoCliente] [varchar](150) NOT NULL,
	[DireccionCliente] [varchar](150) NOT NULL,
	[NumeroCliente] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 29/9/2023 5:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[idcompra] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [varchar](30) NULL,
	[unidades] [varchar](30) NULL,
	[CostoU] [varchar](30) NULL,
	[idProveedor] [int] NULL,
	[idProducto] [int] NULL,
	[idSucursal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idcompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 29/9/2023 5:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[idproducto] [int] IDENTITY(1,1) NOT NULL,
	[CodProducto] [varchar](150) NOT NULL,
	[NombreProducto] [varchar](150) NOT NULL,
	[MarcaProducto] [varchar](150) NOT NULL,
	[Categoria] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idproducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 29/9/2023 5:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[idproveedor] [int] IDENTITY(1,1) NOT NULL,
	[codproveedor] [varchar](150) NOT NULL,
	[nombreProveedor] [varchar](150) NOT NULL,
	[DireccionProveedor] [varchar](150) NOT NULL,
	[NumeroProveedor] [varchar](30) NOT NULL,
	[WebProveedor] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idproveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 29/9/2023 5:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal](
	[idSucursal] [int] IDENTITY(1,1) NOT NULL,
	[SodSuSursal] [varchar](150) NOT NULL,
	[NombreSucursal] [varchar](150) NOT NULL,
	[DireccionSucursal] [varchar](150) NOT NULL,
	[Region] [varchar](150) NOT NULL,
	[Departamento] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedor]    Script Date: 29/9/2023 5:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedor](
	[idVendedor] [int] IDENTITY(1,1) NOT NULL,
	[CodVendedor] [varchar](150) NOT NULL,
	[NombreVendedor] [varchar](150) NOT NULL,
	[Vacacionista] [varchar](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 29/9/2023 5:36:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [varchar](30) NOT NULL,
	[Unidades] [varchar](30) NOT NULL,
	[PrecioUnitario] [varchar](30) NOT NULL,
	[idCliente] [int] NOT NULL,
	[idVendedor] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[compra]  WITH NOCHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idproducto])
GO
ALTER TABLE [dbo].[compra]  WITH NOCHECK ADD FOREIGN KEY([idProveedor])
REFERENCES [dbo].[proveedor] ([idproveedor])
GO
ALTER TABLE [dbo].[compra]  WITH NOCHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[venta]  WITH NOCHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[cliente] ([idcliente])
GO
ALTER TABLE [dbo].[venta]  WITH NOCHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[producto] ([idproducto])
GO
ALTER TABLE [dbo].[venta]  WITH NOCHECK ADD FOREIGN KEY([idSucursal])
REFERENCES [dbo].[sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[venta]  WITH NOCHECK ADD FOREIGN KEY([idVendedor])
REFERENCES [dbo].[vendedor] ([idVendedor])
GO
USE [master]
GO
